<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Reclamezz"
        tools:targetApi="31">
        <activity
            android:name=".SuggUpDelActivity"
            android:exported="false"
            android:parentActivityName=".MesSuggestions"/>
        <activity
            android:name=".RecUpDelActivity"
            android:exported="false"
            android:parentActivityName=".MesReclamations"/>
        <activity
            android:name=".ContactActivity"
            android:exported="false" />
        <activity
            android:name=".MesSuggestions"
            android:exported="false" />
        <activity
            android:name=".AddSuggestion"
            android:exported="false" />
        <activity
            android:name=".MesReclamations"
            android:exported="false" />
        <activity
            android:name=".AddReclamation"
            android:exported="false"
            android:label="Ajouter Reclamation"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.Reclamezz">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>